/* --------- Poster's FAVOURITE BUTTON always visible when item is favourite --------  START */

/* Make favourite button visible when item is favourite - start */
.layout-desktop .card-hoverable .cardOverlayContainer {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
    background: transparent !important;
}
.card-hoverable .cardOverlayContainer:after {
    transform: translateY(-100%) translateX(0) !important;
}
.backdropCard.card-hoverable .cardOverlayContainer:after,
.overflowBackdropCard.card-hoverable .cardOverlayContainer:after {
    transform: translateY(0) translateX(-100%) !important;
}
.cardOverlayButton .material-icons.favorite {
    opacity: 1 !important;
    visibility: visible !important;
}
button.cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button.ratingbutton-withrating {
    opacity: 1 !important; 
}
/* Make favourite button visible when item is favourite - end */

/* Make Card posters position relative to stay static when UI zoom is above or below 100%*/ 
.cardScalable {
  position: relative !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Lock favourite button position to top left in relation to poster */
.cardScalable button[is="emby-ratingbutton"] {
    visibility: visible !important;
    position: fixed !important;
    top: 0.5em;
    left: 0.5em;
}
/* Move ONLY the watchlist button EXACTLY 3em left on hover */
.card-hoverable:hover button[is="emby-playstatebutton"] {
    transform: translateX(-3em) !important;
    left: 3em;
}
.card-hoverable .cardOverlayContainer:after {
    transform: translateY(-100%) translateX(0) !important;
}
.backdropCard.card-hoverable .cardOverlayContainer:after,
.overflowBackdropCard.card-hoverable .cardOverlayContainer:after {
    transform: translateY(0) translateX(-100%) !important;
}
/*Activates poster function buttons - required for V1.09 and above*/
[dir="ltr"].layout-desktop .card:not([data-type="Actor"]) .cardOverlayButton-br {
    z-index: 1 !important;
}
/* --------- Poster's FAVOURITE BUTTON always visible when item is favourite --------  END */
