/*=== This will allow the Watched, Favorite & 3 dot menu re-appear when hovering over a poster===*/
/*===START===*/
.layout-desktop .cardOverlayButton-br,
[dir="ltr"].layout-desktop .cardOverlayButton-br {
    bottom: 0.75em;
    right: 0.5em;
    display: flex !important;
    z-index: 1;
}
.cardOverlayButton-br .cardOverlayButton-hover[data-action="menu"], .layout-desktop .listItemButton[data-action="menu"] {
    display: flex !important;
}
/*===END===*/
